@font-face {
  font-family: "maharam";
  src: url("../src/MaharamNeue-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "maharam-medium";
  src: url("../src/MaharamNeue-Medium.otf");
  font-weight: medium;
}

body {
  margin: 0;
  margin-top: 0px !important;
  padding-top: 0px !important;
  overflow-x: hidden;
  cursor: url(../img/circle.png);
  background-color: #ffffff;
}

#logo {
  width: 120px;
  margin-bottom: 5vh;
  margin-left: 0vw;
}

a {
  color: black;
}

a:hover {
  color: red;
}

#topnav {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 15px;
  position: fixed;
  z-index: 500;
  background-color: #ffffff;
  width: 100vw;
  top: 0;
}

#menu {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 700px;
  float: right;
  margin-right: 5vw;
  vertical-align: top;
  margin-top: 30px;
}

p {
  font-size: 14px;
  color: #000000;
  font-family: "maharam";
  font-weight: normal;
  vertical-align: top;
  line-height: 1.4;
}

h1 {
  font-size: 48px;
  color: #000000;
  font-family: "maharam";
  font-weight: normal;
  margin-bottom: 50px;
  vertical-align: top;
}

h2 {
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  font-family: "maharam";
  font-weight: normal;
  vertical-align: top;
  margin-top: 5px;
}

h3 {
  font-size: 18px;
  color: #000000;
  font-family: "maharam";
  font-weight: normal;
  line-height: 1.2;
}

h4{
  font-size: 13px;
  color: grey;
  font-family: "maharam";
  font-weight: normal;

}

h5{
  font-size: 14px;
  font-family: "maharam";
  font-weight: normal;
  color: white;
  padding: 0 !important;
}

h5:hover{
  color: red;
}

strong{
  font-family: "maharam-medium";
}

a {
  text-decoration: none;
}

#logolockup {
  display: inline-block;
  margin-left: 8vw;
}

#footer {
  background-color: #ffffff;
  border-top: .5px solid gray;
  height: 40vh;
  margin-top: 20vh;
  margin-bottom: 0;
  overflow-x: hidden;
}

#footerleft {
  color: #000000;
  display: block;
}

#inquiries {
  margin-top: 10vh;
  margin-left: 8vw;
  display: inline-block;
}

#footermenu {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  float: right;
  margin-right: 4vw;
  vertical-align: top;
  margin-top: 9vh;
}

#productsmall {
  width: 15vw;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
  z-index: 1;
  transition: 0.8s;
  vertical-align: top;
  object-fit: cover;
  cursor: pointer;
}

.stationery-container {
  width: 20vw;
}

#product-info {
  display: block;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 1000px;
}

#eyebrowcategory{
  font-size: 14px;
  color: grey;
  line-height: 1;
  margin-bottom: 0;
  transition: all 0.5s;
}


a #eyebrowcategory:hover{
  text-decoration: underline;
  transition: all 0.5s;
}

#gallery {
  display: block;
  margin-bottom: 30px;
  margin-left: 7vw;
  margin-top: 5vh;
}

#faq-left{
  display: inline-block;
  margin-left: 8vw;
  margin-top: 24vh;
  width: 20vw;
  vertical-align: top;

}

#faq-right{
  display: inline-block;
  margin-left: 10vw;
  margin-top: 25vh;
  width:45vw;
  vertical-align: top;
}

.first{
  margin-top: 20vh !important;
}

#name {
  display: inline-block;
  margin-left: 1.2vw;
  margin-right: 3vw;
  margin-top: 1.5vh;
  width: 12vw;
  vertical-align: baseline;
  cursor: pointer;
}

#name:hover {
  color: grey;
}


#itemdescription {
  width: 95%;
}

#stationerydetails {
  display: block;
}

.productdetails {
  width: 55vw;
  height: 60vh;
  background-color: #ffffff;
  z-index: 100;
  position: fixed;
  top: 20vh;
  left: 23vw;
  box-shadow: 11px 17px 39px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px 17px 39px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 17px 39px -11px rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  padding-bottom: 60px;
}

#detailproductimg {
  margin-top: 5vh;
  margin-left: 4vw;
  display: inline-block;
  width: 25vw;
}

#product-image{
  height: 25vw !important;
  margin-bottom: 10px;
}

.slick-carousel{
  margin-top: 5vh;
  margin-left: 4vw;
  display: inline-block;
  width: 25vw;

}

.slick-slide{
  height: 25vw;
}

.slide-img{
  height: 25vw;
}

.slick-list{
  height: 25vw;
}

.slick-slider{
  display: inline-block !important;
  position: relative;
}

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
  color: rgb(156, 156, 156) !important;
}


#sliderarrowleft {
  margin-left: 1.5vw;
  margin-top: 5vh;
  z-index: 2000;
  opacity: 0.5;
  transition: 0.2s;
}

#sliderarrowleft:hover {
  opacity: 1.0;
  transition-delay: 0.01s;
}

#sliderarrowright {
  margin-left: 27.5vw;
  margin-top: 5vh;
  z-index: 2000;
  opacity: 0.5;
  transition: 0.2s;
}

#sliderarrowright:hover {
  opacity: 1.0;
  transition-delay: 0.02s;

}


#detaildescription {
  width: 15vw;
  display: inline-block;
  margin-left: 5vw;
  margin-top: 4vh;
  height: 65vh;
  position: absolute;
}

#addtocart{
  background-color: black;
  border: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: block;
  font-family: 'maharam';
  font-size: 14px;
}

.unavailable{
  background-color: grey;
  border: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: block;
  font-family: 'maharam';
  font-size: 14px;
}

#variationDropdown{
  margin-top: 12px;
  margin-left: 10px;
}
/* 
label [for="variationDropdown"]{
  margin-top: -5px !important;
} */

#quantity{
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  width: 50px;
}

#quantity-label{
  margin-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

#addtocart:hover{
  color: red;
}

#cartimg{
  width: 12vw;
  margin-left: 20vw;
  margin-top: 5vh;
  display: inline-block;
}

#checkoutimg{
  width: 9vw;
  margin-left: 20vw;
  margin-top: 5vh;
  display: inline-block;
}

#sendto{
  display: inline-block;
  position: absolute;
  top: 23vh;
  left: 66vw;
}

#email{
  margin-top: 50px;
  margin-left: 8px;
}

#login{
  margin-left: 25vw;
  margin-top: 10vh;
}

#downloadpdf{
  background-color: black;
  color: white;
  border: 0px;
  font-size: 14px;
  border-radius: 5px;
  display: block;
  margin-top: 70px;
  margin-left: 2.5vw;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

#downloadpdf:hover{
  color: red;
}

#send{
  background-color: black;
  color: white;
  border: 0px;
  padding: 15px;
  font-size: 14px;
  border-radius: 5px;
  display: block;
  margin-top: 50px;
  margin-left: 3.5vw;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

#send:hover{
  color: red;
}

#loginbutton{
  background-color: black;
  border-radius: 5px;
  border: 0px;
  margin-top: 60px;
  margin-left: 0vw;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}



.sendmessage{
  width: 10vw;
}

#itemvalues{
  margin-top: -20px;
  display: flex;
  width: 41vw;
  justify-content: space-between;

}

#iteminfo{
  position: absolute;
  display: inline-block;
  margin-left: 4vw;
  margin-top: 5vh;
}


#cartcategory{
  display: inline-flex;
  margin-top: 20px;
  width: 40vw;
  justify-content: space-between;
  margin-left: 36.5vw;
}

#checkoutlong{
  width: 60vw;
  margin-top: 90px;
}

#checkoutshort{
  width: 30vw;
  margin-top: 15vh;
  margin-left: 20vw;
}

#cartbuttons{
  display: inline-flex;
  width: 120px;
  margin-left: 71vw;
  margin-top: -150px;
  justify-content: space-between;
}



#bottombuttons{
  display: inline-flex;
  width: 60vw;
  justify-content: space-between;
  margin-left: 19.5vw;
  margin-top: 40px;
}

#editdelete{
text-decoration: underline;
}



.wrapper {
  width: 10vw;
  max-width: 10vw;
  margin-right: 0px;
  display: inline-block;
}

.searchBar {
  width: 10vw;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 10vw;
  height: 30px;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: .8rem;
  font-family: "maharam", sans-serif;
}

.searchplaceholder::placeholder {
  font-family: "maharam", sans-serif;
}

.searchplaceholder::-ms-input-placeholder {
  font-family: "maharam", sans-serif;
}

.searchplaceholder::-ms-input-placeholder {
  font-family: "maharam", sans-serif;
}



#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

#searchResults{
  background-color: #f5f5f5;
  border-radius: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 13.5vw;
  font-family: 'maharam';
  font-size: 12px;
  box-shadow: 10px 10px 29px -3px rgba(0,0,0,0.45);
  display: none;
}

#searchResultsList{
  padding-top: 8px;
  margin-left: 0;
}

#searchResultsList :hover{
  color: red;
}

ul{
  width: 8vw;
}

ul:hover{
  color: red !important;
}

#more {
  margin-left: 7vw;
  margin-bottom: 6vh;
}

#exit {
  font-size: 24px;
  width: 50px;
  margin-left: 51vw;
  margin-top: 5vh;
  margin-right: 3vw;
  position: fixed;
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}

#exit:hover{
  opacity: 1;

}

#exit:hover {
  color: #000000;
}

#accountnav{
  display: flex;
  flex-direction: row;
  width: 10vw;
  align-content: space-between;
  flex-wrap: wrap;
  display: block;
  position: absolute;
  top: 10px;
  right:150px;

}



#accountnavright{
  position: absolute;
  display: inline-block;
  right: 90px;

}

#top {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px !important;
  text-align: center;
}

#top:hover {
  text-decoration: underline;
}

#arrow {
  margin-top: 100px;
  margin-left: 49vw;
  margin-right: auto;
}

#stock{
  position: absolute;
  z-index: 50;
  top: 0vh;
  left: 1.8vw;
  background-color: rgb(207, 207, 207);
  border: 1px rgb(182, 182, 182) solid;
  color: rgb(16, 16, 16);
  padding: 6px;
  padding-top: 6px;
  opacity: 70%;
  font-size: 12px;
}

#mouse-circle {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: -12px 0px 0px -12px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 50%;
  pointer-events: none !important;
  box-shadow: 0 0 16px rgba(255, 255, 255, 50);
}

#menuitem:hover {
  text-decoration: underline;
}

.image-container {
  position: relative;
  width: 17.5vw; /* Adjust the width as needed */
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin-top: 1vh;
}

.default-image,
.hover-image {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-container:hover .default-image {
  opacity: 0;
}

.image-container:hover .hover-image {
  opacity: 1;
}

#selectedValue{
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0;
  width: 200px;
  font-family: 'maharam-medium';
}

#variationlabel{
  margin-bottom: 0;
  font-family: "maharam";
}

#contact{
  font-family: 'maharam-medium';
}

#don{
  display: inline-block;
  margin-bottom: 0;

}

#mobmenu{
  display: none;
}

@media (min-width: 1200px){
  .product-image{
    width: 25vw;
  }
  
}


@media (min-width: 650px) and (max-width: 1200px) {
.image-container{
  width: 30vw;
}

#productsmall{
  width: 23vw;
}

#menu{
  margin-left: 35px;
  margin-top: 10px;
  float: left !important;
  width: 70vw;
}

.first{
  margin-top: 25vh !important;
}

#footer{
  display: none;
}

#name{
display: block;
margin-right: 0px;
width: 20vw;
}

.productdetails{
  width: 76vw;
  left: 12vw;
  z-index: 500;
}

#detaildescription{
  width: 40vw;
  margin-left: 12vw;
  display: block;
}

#exit{
  margin-left: 68%;
}

.slick-carousel{
  width: 40vw;
  margin-left: 12vw;
}

.slick-slide{
  width: 40vw !important;
  float: none;
}

#detailproductimg{
  width: 40vw !important;
}

#product-info{
  margin-bottom: 100px !important;
  margin-left: 5vw;
  margin-top: 3vh;
}

.product-image{
  width: 40vw;
  height: 40vw;
}

.slick-list{
  height: 40vw;
}

.slide-img{
  width: 40vw;
}

h2{
  font-size: 16px;
}

#accountnav{
  width: 12vw;
  top: 6vh;
}

#searchResults{
  width: 25vw;
}

#searchResults{
  width: 25vw;
  overflow-x: scroll;
}

ul{
  width: 20vw;
}
}



@media only screen and (max-width: 650px){

  .slick-carousel{
    width: 60vw;
    margin-left: 12vw;
  }

  .slick-slide{
    width: 60vw!important;
 
  }

.product-image{
  width: 60vw;
  height: 60vw;
}

.slick-list{
  height: 60vw;
}

#menu{
  display:none;
}

#productsmall{
  width: 40vw !important;
}

.image-container{
  width: 40vw;
  margin-right: 5vw;
}

#name{
  width: 35vw;
}

#footer{
  display: none;
}

.productdetails{
  width: 84vw;
  left: 8vw;
  z-index: 500;
}

#detaildescription{
  width: 50vw;
  margin-left: 12vw;
  display: block;
  /* height: 90vh; */
}


#variationDropdown{
  margin-left: 0px;
}

h2{
  font-size: 16px;
}

#mobmenu{
  display: block;
  margin-left: 2vw;
  margin-top: 25px;
}

#exit{
  margin-left: 75%;
}

.first{
  margin-top: 45vh !important;
}

#accountnav{
  width: 5vw;
}

#gallery{
  margin-top: 28vh !important;
}

#searchQueryInput{
  width: 15vw;
}

#searchResults{
  width: 45vw;
  overflow-y: scroll;
}

ul{
  width: 28vw;
}

#product-info{
  margin-top: 50px;
}

#exit{
  font-size: 20px;
  margin-top: 3vh;
}

#stock{
  left: 20px;
  top: 0px;
}
}

@media only screen and (max-width: 380px){
  #gallery{
    margin-top: 34vh !important;
  }

  #variationDropdown{
    margin-left: 0px;
  }
}